<style>
.dashboard-inventory-equipment-container{
    display:flex;
    width:100%;
}
.dashboard-flex-display-box{
    padding:10px;
    flex:1;
}
.hide-under-1000{
  display:table-cell;
}
@media only screen and (max-width: 1400px) {
  
    .dashboard-inventory-equipment-container{
        display:block;
        width:100%;
    }
    .dashboard-flex-display-box{
        display:block;
        padding:10px;
    }
  }
@media only screen and (max-width: 1000px) {
  
    .hide-under-1000{
      display:none;
    }
  }
</style>

<div class="main-content">
  <div style="border-bottom:1px solid #ccc;"><h1>Welcome, <%= current_user.name %>!</h1></div>
  <div id="dashboard-data">
    <%= render 'dashboard/dashboard_listings' %>
  </div>
</div>
<script>
  document.addEventListener("turbo:load", () => {
    setInterval(() => {
      fetch("/dashboard/refresh", {
        headers: { Accept: "text/vnd.turbo-stream.html" }
      })
      .then(response => response.text())
      .then(html => {
        const container = document.querySelector("#dashboard-data");
        if (container) {
          container.innerHTML = html;
        }
      });
    }, 5000); // every 30 seconds
  });
</script>
