<h1>Inventory Details</h1>

<p>
  <strong>Name:</strong>
  <%= @inventory.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @inventory.description %>
</p>

<%= link_to 'Back to list', inventories_path %>
